
<script type="text/javascript">
    var grid, dialog;
    $(document).ready(function () {

        grid = $("#grid").grid({
            dataKey: "Role_id",
            uiLibrary: "bootstrap",
            columns: [

              { field: "Role_Id", title: "Role ID", sortable: true },
              { field: "RoleName", title: "Role Name", sortable: true },
              { field: "RoleDescription", title: "Role Description", sortable: true },
            
              {
                  field: "Edit", title: "", width: 34, type: "icon",
                  icon: "glyphicon-pencil", tooltip: "Edit", events: { "click": Edit }
              },
              {
                  field: "Delete", title: "", width: 34, type: "icon",
                  icon: "glyphicon-remove", tooltip: "Delete", events: { "click": Remove }
              }
            ],
            pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
        });
        
        

        function Edit(e) {
            $("#txt_roleid").attr("readonly", "readonly");
            $("#txt_roleid").val(e.data.record.Role_Id);
            $("#txt_rolename").val(e.data.record.RoleName);
            $("#txt_roledesc").val(e.data.record.RoleDescription);
           

            $("#myModal").modal();
        }


        $("#txtname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Roles/GetRolesList",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.RoleDescription, value: item.RoleName };
                        }))

                    }

                })
            },
            select: function (event, ui) {

                $("#txtname").val(ui.item.value);
                Search();
            },
            messages: {
                noResults: "", results: ""
            }
        });


        
    });
    function Add() {
        $.ajax({ url: "/Roles/GetNewRoleId", type: "POST" })
              .done(function (data) {
                 
                  $("#txt_roleid").val(data);

              })
              .fail(function () {
                  $.alert({
                      title: 'Alert!',
                      content: 'Error in generating id!',
                      type: 'red',
                  });

              });
        
        $("#txt_rolename").val("");
        $("#txt_roledesc").val("");

        $("#myModal").modal();
    }
    function Search() {
        grid.reload({ searchString: $("#txtname").val() });
    }

    function Remove(e) {
        $.confirm({
            title: 'Alert!',
            content: 'Are you sure you want to delete?',
            type: 'red',
            typeAnimated: true,
            buttons: {
                Yes: {

                    action: function () {
                        var RoleData = {
                            Role_Id:e.data.record.Role_Id,
                            RoleName: e.data.record.UserName,        
                            RoleDescription: e.data.record.Password

                        };
                        $.ajax({ url: "/Roles/Remove", type: "POST", data: { RoleData: RoleData } })
                          .done(function () {
                              grid.reload();
                          })
                          .fail(function () {
                              $.alert({
                                  title: 'Alert!',
                                  content: 'Failed to delete.!',
                                  type: 'red',
                              });
                          });

                    }
                },
                no: function () {
                }
            }
        });

    }
    function CheckAvailability()
    {
        var RoleData = {

            RoleName: $("#txt_rolename").val(),

        };
        $.ajax({ url: "/Roles/FindRole", type: "POST", data: { RoleData: RoleData } })
             .done(function (data) {

                 if(data!=false)
                 {

                     $.alert({
                         title: 'Alert!',
                         content: 'Rolename already exist.Please chose another name.',
                         type: 'red',
                     });
                 }

             })
             .fail(function () {
                 $.alert({
                     title: 'Alert!',
                     content: 'Error in Finding!',
                     type: 'red',
                 });

             });
    }
    function Validate()
    {
        if($("#txt_roleid").val()=="")
        {
            $("#txt_roleid").focus();
            return false;
        }
        if ($("#txt_rolename").val() == "") {
            $("#txt_rolename").focus();
            return false;
        }
        if ($("#txt_roledesc").val() == "") {
            $("#txt_roledesc").focus();
            return false;
        }
        else
        {
            return true;
        }
    }
    function Save() {
        var $loader = $("#loader");
        $loader.gSpinner({

            scale: .5

        });
        var RoleData = {
            Role_Id: $('#txt_roleid').val(),
            RoleName: $("#txt_rolename").val(),
            RoleDescription: $("#txt_roledesc").val(),
            
        };
        if (Validate()) {
            
           

            $.ajax({ url: "/Roles/Save", type: "POST", data: { RoleData: RoleData } })
              .done(function () {
                  //  $.alert('Saved sucessfully', 'Alert'); Causing User Experianve not good use a loader instead

                 // $loader.gSpinner("hide");


                  grid.reload();
                  $("#myModal").modal("hide");
              })
              .fail(function () {
                  $.alert({
                      title: 'Alert!',
                      content: 'Failed to Save.!',
                      type: 'red',
                  });
                  $loader.gSpinner("hide");

                  $("#myModall").modal("hide");
              });
        }
        else
        {
            $.alert('Missing Input', 'Alert!');
        }
    }

</script>


<div class="col-md-3">

    <input id="txtname" type="text" placeholder="Name" class="form-control">



</div>
<div class="col-md-2">
    <button id="btnSearch" type="button" onclick="Search()" class="gj-button"><span class="glyphicon glyphicon-search"></span>Search</button>
</div>
<div class="col-md-5"></div>
<div class="col-md-2">
    <button id="btnAdd" type="button" onclick="Add()" class="gj-button"><span class="glyphicon glyphicon-plus"></span>Add New Role</button>
</div>
<div style="height:40px"></div>
<div>
    <table id="grid" data-source="@Url.Action("GetRoles")"></table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span>Role Detail</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label class="required" for="roleId"><span class="glyphicon glyphicon-user"></span>Role Id</label>
                        <input type="text" class="form-control" readonly="readonly" id="txt_roleid"  >
                    </div>
                    <div class="form-group">
                        <label for="rolename" class="required"><span class="glyphicon glyphicon-user"></span> Role Name</label>
                        <input type="text" class="form-control" id="txt_rolename" placeholder="RoleName" onblur="CheckAvailability()">

                    </div>
                    <div class="form-group">
                        <label for="roledesc" class="required"><span class="glyphicon glyphicon-eye-open"></span> Role Decription</label>
                        <input type="text" class="form-control" id="txt_roledesc" placeholder="Role Description">
                    </div>

                    <button type="button" onclick="Save()" class="btn  btn-block"><span class="glyphicon glyphicon-off"></span> Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

            </div>
        </div>

    </div>
</div>



