
@{
    ViewBag.Title = "UserRoles";
    Layout = "~/Views/Shared/MySchoolLayout.cshtml";
}

<h2>User & Roles</h2>
<script>
$(function() {
    $('#myLinkleft li a').click(function () {
      
       
        $.ajax({
            
            url: $(this).data("url"),
            type: 'GET',
            cache: false,
            success: function (result) {
                
                $('#content').html(result);
            }
        });
        return false;
    });
});
    </script>
<ul id="myLinkleft">
    <li>
        <a href="#" data-url="/User/User">Manage Users</a>
    </li>

    <li>
        <a href="#" data-url="/Roles/Role">Manage Roles</a>
    </li>
</ul>
    <div id="content"></div>

